<form action="/trailers/add" method="POST">
   <div class="title">
      <label for="titulo">Titulo:</label>
         <input type="text" autocomplete="off" id="titulo", name="titulo" placeholder="titulo">
   </div>

   <div class="age">
      <label for="año">Año:</label>
         <input type="text" autocomplete="off" id="año" name="año" placeholder="año">
   </div>

   <div class="director">
      <label for="director">Director:</label>
         <input type="text" autocomplete="off" id="director" name="director" placeholder="director">
   </div>

   <div class="actors">
      <label for="actores">Actores:</label>
         <input type="text" autocomplete="off" id="actores" name="actores" placeholder="actores">
   </div>

   <div class="reseña">
      <label for="reseña">Reseña:</label>
         <input type="text" autocomplete="off" id="reseña"  name="reseña" placeholder="reseñas">
   </div>

   <div class="imagen_de_portada">
      <label for="imagen_de_portada">Imagen:</label>
         <input type="text" autocomplete="off" id="imagen_de_portada" name="imagen_de_portada" placeholder="imagen">
   </div>

   <div class="link_del_trailer">
      <label for="link_del_trailer">Link del Trailer:</label>
         <input type="text" autocomplete="off" id="link_del_trailer" name="link_del_trailer" placeholder="trailer">
   </div>
   <button>Añadir</button>

</form>
